POSTGRES_DB_NAME=
POSTGRES_DB_HOST=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_USERNAME=
POSTGRES_DB_PORT=
es.username=
es.password=
es.protocol=
es.port=
SMTP=email-smtp.eu-west-1.amazonaws.com:465
SMTPUSER=
SMTPPWD=
EMAILADDR=notifications@astuntechnology.com