creds.txt
.env
shiro-geonetwork
bitbucket.sh
*.war
testing/target
*creds.txt
.env-local
*.dump
*.log
*.err
Tiltfile
*.yaml
tilt_modules
certs/localhost*
certs/letsencrypt
certs/cacerts
# customer folders
scotgov/
astun/
nrw/
thesauri/external