server.basePath: "/geonetwork/dashboards"
server.rewriteBasePath: false
kibana.index: ".gn-prefix-dashboards"
server.name: kibana
server.host: "0.0.0.0"
elasticsearch.hosts: [ "${ELASTICSEARCH_URL}" ]
#xpack.monitoring.ui.container.elasticsearch.enabled: true
logging.quiet: true
elasticsearch.username: "${ES_USERNAME}"
elasticsearch.password: "${ES_PASSWORD}"
